/server
bin/
vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
.env
config.local.yaml
tmp/
static/export/*
static/import/*
static/sync/*
!static/export/.gitkeep
!static/import/.gitkeep
!static/sync/.gitkeep
*_templ.go
